



//@media (min-width: 992px) {
	header {
		position: absolute;
		top: 60px;
		left: 60px;
		z-index: 2;

		h1 {
			font-family: $gothicCondensed;
			color: #fff;
			font-size: 80px;
			letter-spacing: 2px;
			line-height: 80px;
			margin: 10px 20px 0 0;
		}
		.border {
			width: 150px;
			background: #fff;
			height: 2px;
			margin: 20px 0 0 0;
		}
		h3 {
			font-family: $gothicCondensed;
			color: #fff;
			font-size: 24px;
			margin: 0 0 0 0;
			line-height: 30px;
		}
	}
//}

@media (max-width: 992px) {
	header {
		top: 30px;
		left: 30px;
			h1 {
				font-size: 60px;
			}
			h3 {
				font-size: 18px;
			}
	}
}
