//Mobile Nav
.open-menu {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	color: #000;
	padding: 3px 10px;
	display: block;
	z-index: 5;
	font-size: 25px;
}

.mobile-nav-wrapper {
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #fff;
	z-index: 6;
	border: 1px solid #000;

	nav.mobile-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		a {
			display: block;
			text-align: center;
			font-family: $charis;
			font-size: 22px;
			color: #000;
			margin-bottom: 30px;
			img {
				max-width: 120px;
			}
		}
	}

	.close-menu {
		position: absolute;
		top: 20px;
		right: 20px;
		color: #000;
		font-size: 30px;
	}
}
// Mobile nav

nav {

	&.footer {

		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		padding: 10px 0;
		margin: 0 20px;
		text-align: center;

		a {
			font-family: $charis;
			font-size: 18px;
			display: block;
			text-transform: uppercase;
			margin-left: 18px;
			color: #000;
		}
	}
}




@media (min-width: 992px) {

	.open-menu { display: none; }



	nav {

		&.main {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);

			a {
				display: block;
				font-size: 16px;
				letter-spacing: 5px;
				color: #000;
				font-family: $charis;
				text-align: center;
				padding: 5px 0;
				text-transform: uppercase;
			}
		}

		&.footer {
			a {
				display: inline-block;
				text-transform: uppercase;
			}
		}

	}
}

@media (min-width: 1400px) {

	nav {

		&.main {

			a {

			}
		}

		&.footer {

		}
	}
}